body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.6em;
  background: #E1E2E1;
  
}

/*Outermost flex container*/
main {
  transition: left 0.4s;
  position: fixed;
  display: flex;
}

/*Flex container of each frame*/
main > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*For changing states*/
body.ChooseInputFrame main {
  left: 0;
}
body.TakePicFrame main {
  left: -100vw;
}
body.ChooseScaleFrame main {
  left: -200vw;
}
body.AreaProcessingFrame main {
  left: -300vw;
}

/*To style labels to be clicked as button*/
label {
  cursor: pointer;
  background: #bf360c;
  color: white;
  margin: 1ex;
  padding: 0.5ex;
  border: none;
  border-radius: 3px;
}
/*To create the clicked effects*/
label:active {
  position: relative;
  top: 1px;
}

/*To add margin to select and style the label differently*/
select {
  margin-bottom: 1ex;
  font-size: 0.8em;
}
.select label {
  background: none;
  color: black;
  font-size: 0.8em;
}

/*SLIDER*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #005662; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #005662; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*To prvent video from overflow to other frames*/
video {
  max-width: 100vw;
}

/*Hide the file input to style it differently with a label*/
.image-upload > input {
  display: none;
}

/*To style the previous icon*/
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 2px;
}
a:hover {
  color: grey;
}

/*To style the header*/
nav {
  width: 25.2em;
  max-width: 100vw;
  margin-bottom: 1ex;
  background-color: #005662;
}

/*To style the title*/
h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  display: inline;
}

h4 {
	text-align:center;
	background: #005662;
	color:white;
	font-weight: 400;
}
