body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.6em;
  background: #e1e2e1;
  margin: 0;
}

/*To style the big container for all nav and footer frames*/
nav,
footer {
  transition: left 0.4s;
  position: fixed;
  display: flex;
  z-index: 100;
  left: 0;
}

/*To sytle nav and footer differently*/
nav {
  top: 0;
  background-color: #005662;
}
footer {
  bottom: 0;
}

/*Style each frame by giving them a 100vw*/
nav > h1,
footer > div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div {
  flex-direction: column;
}

/*To style the main cotainers (between nav and footer)*/
main > div,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
/*To make canvas, choose button, and video container centered*/
main,
main > div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Makes the containers exept canvas responsive*/
main > div {
  height: calc(100vh - 300px);
  left: 0;
}

/*To make the video as large as possible*/
video {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/*For changing states (frames) of nav and footer*/
main.ChooseInputFrame nav,
main.ChooseInputFrame footer {
  left: 0;
}

main.TakePicFrame nav,
main.TakePicFrame footer {
  left: -100vw;
}

main.ChooseScaleFrame nav,
main.ChooseScaleFrame footer {
  left: -200vw;
}

main.AreaProcessingFrame nav,
main.AreaProcessingFrame footer {
  left: -300vw;
}

/*To style labels to be clicked as button*/
label {
  cursor: pointer;
  background: #bf360c;
  color: white;
  margin: 1ex;
  padding: 0.5ex;
  border: none;
  border-radius: 3px;
  user-select: none;
}
/*To create the clicked effects*/
label:active {
  position: relative;
  top: 1px;
}

/*To add margin to select and style the label differently*/
select {
  margin-bottom: 1ex;
  font-size: 0.8em;
}
.select label {
  background: none;
  color: black;
  font-size: 0.8em;
}

/*Slider*/
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #005662; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #005662; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*Hide the file input to style it differently with a label*/
.image-upload > input {
  display: none;
}

/*To style the previous icon*/
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 2px;
}
a:hover {
  color: grey;
}

/*To style the title*/
h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0.1cm 0 0.1cm 0;
}

/*To style the container for the numeric results of area computation*/
h4 {
  text-align: center;
  background: #005662;
  color: white;
  font-weight: 400;
}

/*For hiding containers in the begining frame*/
#video_container,
canvas {
  display: none;
}

/*To make the copy right font size small*/
footer > div:first-child {
  font-size: 9px;
}
